/* IMAGEM */
.catalogo__card-top img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.catalogo__card-top {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* PREÇO E DESCRIÇÃO */
.catalogo__card-bottom {
    padding: 10px 20px;
    min-height: 110px;
}

.catalogo__card-bottom h3 {
    color: var(--color-font-prices);
    font-size: 28px;
}

.catalogo__card-bottom h4 {
    color: var(--color-font-primary);
    font-size: 14px;
}