.btn-next-page {
    border: 1px solid var(--color-btn-primary);
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-btn-primary);
    text-align: center;
    cursor: pointer;
}