.card__image {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.card__image img {
    width: 300px;
}

.card__product-details {
    padding: 10px 20px;
}

.card__product-details h3 {
    color: var(--color-font-prices);
    font-size: 32px;
}

.card__product-details h4 {
    color: var(--color-font-primary);
    font-size: 25px;
}

.card__product-details p {
    color: var(--color-font-primary);
    font-size: 14px;
    margin: 10px 0;
}

/* CATEGORIA ----------------------------- */
.card__category-container {
    display: flex;
    flex-wrap: wrap;
  }