.card__category {
    padding: 0 20px;
    background-color: var(--color-font-primary);
    border-radius: 5px;
    height: 30px;
    font-size: 12px;
    font-weight: 700;
    color: var(--color-card-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-bottom: 10px;
  }